body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
select {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.3s;
}

input[type="text"]#search-input {
    width: calc(100% - 20px);
    display: inline-block;
}

select#filter-role {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

th {
    background-color: #f8f9fa;
    color: #495057;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9ecef;
}

td button {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

td button:nth-child(1) {
    background-color: #007bff; /* Azul para editar */
}

td button:nth-child(1):hover {
    background-color: #0056b3;
}

td button:nth-child(2) {
    background-color: #dc3545; /* Vermelho para excluir */
}

td button:nth-child(2):hover {
    background-color: #c82333;
}
